{% extends 'layout.html' %}

{% block title %}app Gatitos{% endblock %}

{% block head %}
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
{% endblock %}

{% block content %}
<div class="gatos">
	<h2 class="titulo">Bienvenido {{ user }}</h2>	
	<a href="/log-out" class="submit">Salir</a>
	<ol id="users">
	{% for gato in gatos %}
		<li>{{gato.nombre}}</li>
	{% endfor %}
	</ol>

	<div class="lista-gatos">
		{% for gato in gatos %}
			<img src="/img/cat_{{gato.imagen}}.png" alt="{{gato.nombre}}" />
		{% endfor %}
	</div>

</div>
{% endblock %}



